#原神
DOMAIN-SUFFIX,hoyolab.com
DOMAIN,autopatchhk.yuanshen.com
DOMAIN,dispatchosglobal.yuanshen.com
DOMAIN,oseurodispatch.yuanshen.com
DOMAIN,overseauspider.yuanshen.com
DOMAIN,jp-api-fd.dutils.com
DOMAIN,jp-devs-data.dutils.com
DOMAIN,jp-api-fc.dutils.com
DOMAIN,jp.api.share.mob.com
DOMAIN-SUFFIX,hoyoverse.com
DOMAIN,graph.facebook.com
